html,body{
    display:flexbox;
    text-align: center;
    align-items: center;
    padding: 10px;
    background-color: dimgrey;
}
.header{
  color:yellow;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  padding: 10px;
  font-style: italic;

}
.pics{
    width: 100vw;
    height: 100vh;
    background-color: dimgrey;
    padding: auto;
    object-fit: contain;

}